/* panel colors */

.btn-primary:not(.btn-link):not(.btn-flat),
.btn.btn-raised:not(.btn-link):hover.btn-primary,
.btn.btn-raised:not(.btn-link):focus.btn-primary,
.btn.btn-raised:not(.btn-link).active.btn-primary,
.input-group-btn .btn.btn-raised.btn-primary {
    background-color : #418bca !important;
    color            : rgba(255, 255, 255, 0.84);
}
.btn-success:not(.btn-link):not(.btn-flat),
.btn.btn-raised:not(.btn-link):hover.btn-success,
.btn.btn-raised:not(.btn-link):focus.btn-success,
.btn.btn-raised:not(.btn-link).active.btn-success,
.input-group-btn .btn.btn-raised.btn-success {
    background-color : #01bc8c !important;
    color            : rgba(255, 255, 255, 0.84);
}
.btn-info:not(.btn-link):not(.btn-flat),
.btn.btn-raised:not(.btn-link):hover.btn-info,
.btn.btn-raised:not(.btn-link):focus.btn-info,
.btn.btn-raised:not(.btn-link).active.btn-info,
.input-group-btn .btn.btn-raised.btn-info {
    background-color : #67c5df !important;
    color            : rgba(255, 255, 255, 0.84);
}
.btn-danger:not(.btn-link):not(.btn-flat),
.btn.btn-raised:not(.btn-link):hover.btn-danger,
.btn.btn-raised:not(.btn-link):focus.btn-danger,
.btn.btn-raised:not(.btn-link).active.btn-danger,
.input-group-btn .btn.btn-raised.btn-danger {
    background-color : #EF6F6C !important;
    color            : rgba(255, 255, 255, 0.84);
}
.btn-warning:not(.btn-link):not(.btn-flat),
.btn.btn-raised:not(.btn-link):hover.btn-warning,
.btn.btn-raised:not(.btn-link):focus.btn-warning,
.btn.btn-raised:not(.btn-link).active.btn-warning,
.input-group-btn .btn.btn-raised.btn-warning {
    background-color : #F89A14 !important;
    color            : rgba(255, 255, 255, 0.84);
}
.panel,
.panel-heading {
    border-radius : 0;
}
.panel.panel-primary > .panel-heading {
    background-color : #418bca;
    color            : #fff;
}
.btn-info:not(.btn-link):not(.btn-flat) {
    background-color : #67c5df;
    color            : rgba(255, 255, 255, 0.84);
}
.panel.panel-info > .panel-heading {
    background-color : #67c5df;
    color            : #fff;
}
.panel.panel-success > .panel-heading {
    background-color : #01bc8c;
    color            : #fff;
}
.panel.panel-warning > .panel-heading {
    background-color : #F89A14;
    color            : #fff;
}
.panel.panel-danger > .panel-heading {
    background-color : #EF6F6C;
    color            : #fff;
}
.panel.panel-default > .panel-heading {
    background-color : #A9B6BC;
    color            : #fff;
}
/*alert */

.alert.alert-success {
    background-color : #01bc8c ;
}
.alert.alert-primary {
    background-color : #418bca;
}
.alert.alert-info {
    background-color : #67c5df;
}
.alert.alert-warning {
    background-color : #f89a14;
}
.alert.alert-danger {
    background-color : #ef6f6c;
}
.alert.alert-default {
    background-color : #a9b6bc;
}
/* form examples */

.form-group label.control-label {
    font-size   : 14px;
    line-height : 1.07142857;
    color       : #333;
    font-weight : 400;
    margin      : 16px 0 0 0;
}
.form-group label {
    font-size   : 14px;
    line-height : 1.42857143;
    color       : #333;
    font-weight : 400;
}
.form-group.label-floating label.control-label,
.form-group.label-placeholder label.control-label {
    top         : 0;
    font-size   : 14px;
    line-height : 1.42857143;
}
.form-group.is-focused label,
.form-group.is-focused label.control-label {
    color : #418bca !important;
}
.checkbox label,
.form-group .checkbox label,
.form-group.is-focused .checkbox label,
.form-group.is-focused .radio label,
.form-group.is-focused label.checkbox-inline,
.form-group.is-focused label.radio-inline,
.form-group .radio label,
.form-group label,
.radio label,
label {
    color : #333 !important;
}
/*form validation */

.captcha {
    margin-left : 30px !important;
}
.mate_refresh {
    font-size : 30px;
    color     : #333;
}
.btn-default:not(.btn-link):not(.btn-flat),
.btn-default:not(.btn-link):not(.btn-flat):hover,
.btn:not(.btn-raised):not(.btn-link):hover.btn-default {
    background-color : #eee !important;
    border           : 1px solid #d2d2d2;
    color            : #777 !important;
}
/*simpe table*/

.label.label-success {
    background-color : #01bc8c;
}
.label.label-info {
    background-color : #67C5DF;
}
.label.label-warning {
    background-color : #F89A14;
}
.label.label-danger {
    background-color : #ef6f6c;
}
.btn,
.input-group-btn .btn {
    border-radius : 0;
    margin        : 10px 0;
}
.btn.back-to-top {
    padding       : 15px;
    border-radius : 50%;
}
/*input field colors*/

.form-group.has-success label.control-label,
.form-group.has-success .help-block {
    color : #01bc8c;
}
.form-group.has-error label.control-label,
.form-group.has-error .help-block {
    color : #EF6F6C;
}
.has-error. .form-control,
.form-group.has-error.is-focused .form-control {
    background-image : linear-gradient(#ef6f6c, #ef6f6c), linear-gradient(#d2d2d2, #d2d2d2);
}
.form-group.has-warning.is-focused .form-control {
    background-image : linear-gradient(#f89a14, #f89a14), linear-gradient(#d2d2d2, #d2d2d2);
}
.form-group.has-success.is-focused .form-control {
    background-image : linear-gradient(#01bc8c, #01bc8c), linear-gradient(#d2d2d2, #d2d2d2);
}
.form-group.is-focused .form-control {
    background-image : linear-gradient(#128bc6, #128bc6), linear-gradient(#d2d2d2, #d2d2d2);
}
.has-success .form-control {
    border-color : #128bc6;
}
.form-group.is-focused label,
.form-group.is-focused label.control-label {
    color : #128bc6;
}
.form-control:focus {
    box-shadow : none;
}
.checkbox input[type=checkbox]:checked + .checkbox-material .check,
.radio input[type=radio]:checked ~ .circle {
    color        : #128bc6;
    border-color : #128bc6;
}
.checkbox input[type=checkbox]:checked + .checkbox-material .check:before {
    color : #128bc6;
}
.radio label .check,
.radio input[type=radio]:checked ~ .check {
    background-color : #128bc6;
}
/* navbar title */

.fsize {
    font-size : 24px;
}
/*breadcrumb*/

.breadmaterial {
    top       : -2px;
    font-size : 14px;
}
/*leftmenu  material icons*/

.leftsize {
    font-size : 18px;
    top       : -3px;
}
/*content material icons*/

.content .panel-title .material-icons {
    cursor : default;
}
/*notification material */

body > .header .navbar .nav > li > a > .label {
    right : 4px;
}
.notify {
    font-size : 24px;
}
.select2-container--bootstrap .select2-selection {
    border-radius : 0 !important;
}
/*table column icons deleted user*/

.colicon {
    font-size : 16px;
}
/*maps*/

#geocoding_form {
    width : 325px;
}
.popover,
.tooltip-inner {
    background-color : #fff;
}
.popover-title {
    color : #777;
}
.form-group .form-control {
    padding-bottom : 0;
    margin-top     : 7px;
}
.bootstrap-touchspin-up,
.bootstrap-touchspin-down {
    margin : 0;
}
.button-action:hover {
    background-color : #01bc8c;
    border-color     : #01bc8c;
    color            : #fff;
}
.back-to-top + .tooltip .tooltip-inner {
    color : #333;
}
.nav-tabs-custom .nav.nav-tabs {
    background-color : #fff;
}
.nav.nav-tabs li {
    border-bottom : 3px solid transparent ;
}
.nav.nav-tabs li.active,
.nav.nav-tabs li:hover {
    border-bottom : 3px solid #128bc6;
}
.nav.nav-tabs li.active a,
.nav.nav-tabs li:hover a {
    color : #128bc6;
}
.nav.nav-tabs li a {
    color : #333 !important;
}
/*pickers page buttons*/

.btn,
.input-group-btn .btn {
    padding    : 6px 9px;
    font-size  : 16px;
    margin-top : 0;
}
.page-sidebar .page-sidebar-menu .sub-menu li > a > i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > a > i {
    font-size  : 16px;
    margin-top : -6px;
}
.btn:not(.btn-raised) {
    color : #fff !important;
}
/*form validation phone and captcha*/

.captcha_submit {
    margin-left : 16px;
}

    .open_modal {
        margin : auto;
    }


/*form examples*/

.inline_radio {
    padding-left : 0 !important;
}
.radio label {
    cursor       : pointer;
    padding-left : 30px;
    position     : relative;
}
.radio label,
label {
    color : #333;
}
/*datepicker*/

.btn:not(.btn-raised) {
    color        : #fff;
    /*margin-right : 5px;*/
}
/*vector maps*/

.jqvmap-zoomin,
.jqvmap-zoomout {
    width       : 27px !important;
    line-height : 0 !important;
    padding     : 10px !important;
}
.btn-advance {
    margin-top : 45px;
}
/* blog list */

.mate-icons {
    font-size : 18px;
}
.tooltip .tooltip-inner {
    color : #333;
}
/*multiple file upload*/

.multiple_icons {
    top : -1px;
}
/*grid*/

.grid_paragraph p {
    margin : 0 10px;
}
/*advanced maps */

.get_route {
    margin-left : 25px;
}
/*form validation and form elements*/

.form-group.is-focused .radio label:hover {
    color : #333 !important;
}
.form-group .checkbox label,
.form-group .radio label,
.form-group label {
    color : #333;
}
.form-group.is-focused .radio label,
.form-group.is-focused label.radio-inline {
    color : #333;
}
.form-group.is-focused .checkbox label,
.form-group.is-focused label.checkbox-inline {
    color : #333;
}
.form-group .checkbox label,
.form-group.is-focused .radio label,
.form-group.is-focused label.radio-inline,
.form-group .radio label,
.form-group label {
    color : #333;
}
.checkbox label,
.radio label,
label {
    color : #333;
}
/*dropzone button*/

.dropzone button {
    margin : 8px 15px;
}
/*dash board notifications and messages*/

.messages-menu.dropdown-menu a,
.messages-menu a:focus,
.messages-menu a:hover,
.navbar .dropdown-menu li > a:hover {
    color : #333 !important;
}
.slimScrollDiv .menu li:not(:first-child) {
    margin-top : -6px !important;
}
.notifications-menu small {
    margin-top : -72px;
}
.notifi_icons {
    font-size : 20px;
}
.dropdown-menu {
    padding : 0;
}
a, a:focus, a:hover {
    color : #418bca;
}
#user_nav {
    float : left;
}
body {
    margin : 0 !important;
}
/*bootstrap modal*/
body.modal-open {
    padding : 0 !important;
}
.modal-content .modal-header {
    border-bottom : 1px solid #e5e5e5;
}
/*summernote tooltip*/
.note-popover .popover-content .dropdown-menu,
.panel-heading.note-toolbar .dropdown-menu {
    z-index : 1058;
}
.help-block{
    color: #EF6F6C !important;
}
.form-group .help-block {
    position: absolute;
    display: block;
}
.checkbox .checkbox-material .check{
    border-radius: 0;
}
@media (max-width:676px){
    .navbar .navbar-nav .open .dropdown-menu>li>a{
     color:#333;
    }
}
/* sweetalert2 button spacing */
.swal2-cancel.btn, .swal2-confirm.btn {
    margin: 0 0.5rem;
}

/* sweetalert2 pop up width fix
since original width 32rem is too small*/
.swal2-popup {
    width: 512px !important;
    font-size: 16px !important;
}